<div class="row">
  <div class="large-12 columns">
    <h3>Projects - Create</h3>
    {{#link-to 'projects'}}Back{{/link-to}}
    <hr>
  </div>
</div>

<div class="row medium-uncollapse large-collapse large-5">
    <form {{action 'saveNewProject'}}>
        <div class="row">
            <div class="large-12 columns">
                <label>Image
                    {{view "file-input"}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Project Name
                    {{input}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Project URL
                    {{input}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-12 columns">
                <label>Tech
                    {{input}}
                </label>
            </div>
        </div>
        <div class="row">
            <div class="large-2 large-offset-10">
                <button class="button small">Save</button>
            </div>
        </div>
    </form>
</div>