<button class="menu-button" {{action "openMenuAction"}}></button>

<div class="menu-wrap">
  <aside class="off-canvas-menu">
    <ul class="icon-list">
      <li><label>Elliott J Ro</label></li>
      {{#each linkItem in navigationLinks}}
        <li class="menu-item" {{action "closeMenuAction"}}>
          {{#link-to linkItem.route}}
            <span>{{linkItem.name}}</span>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </aside>
  {{view 'close-button' class="close-button"}}
</div>


<div class="content-wrap">
  <div class="main-content">
    {{liquid-outlet}}
  </div>
    {{outlet 'footer'}}
</div>