<button class="menu-button" {{action "openMenuAction"}}></button>

<div class="menu-wrap">
  <aside class="off-canvas-menu">
    <ul class="icon-list">
      <li><label>Elliott J Ro</label></li>
      {{#each linkItem in navigationLinks}}
        <li class="menu-item">
          {{#link-to linkItem.route}}
            {{linkItem.name}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </aside>
  <button class="close-button" {{action "closeMenuAction"}}></button>
</div>


<div class="content-wrap">
  <div class="main-content">
    {{outlet}}
  </div>
    {{outlet 'footer'}}
</div>